.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 63%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 83px 0 13px;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  z-index: 2;
}

.advantages__item {
  width: calc(50% - 30px);
  min-height: 299px;
  background-color: $white;
  color: $lightblue;
  border: 1px solid $color-border;
  border-left: 3px solid $lightblue;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding-left: 42px;
  padding-right: 10px;
  padding-top: 71px;
  position: relative;
}

.advantages__title {
  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  max-width: 410px;
  margin-bottom: 9px;
}

.advantages__text {
  font-family: $pt-mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $gray;
  max-width: 482px;
  margin: 6px 0;
}

.advantages__icon {
  position: absolute;
  top: 40px;
  fill: $lightblue;
}

.advantages__item:hover {
  background-color: $lightblue;
  color: $white;
  cursor: pointer;

  .advantages__icon {
    fill: $white;
  }

  .advantages__title,
  .advantages__text {
    color: $white;
  }
}

@include tablet-width {
  .advantages {
    width: 93.75%;
    padding: 22px 0 12px;
    min-width: 750px;
  }

  .advantages__item {
    min-height: 232px;
    padding: 40px 22px 12px 24px;
    border-left: 2px solid $lightblue;
  }

  .advantages__title {
    max-width: 350px;
    margin-bottom: 5px;
  }

  .advantages__text {
    max-width: 290px;
  }

  .advantages__icon {
    top: 22px;
    left: 26px;

    &--time {
      width: 30px;
      height: 36px;
    }

    &--suppliers {
      width: 32px;
      height: 33px;
    }

    &--secret {
      width: 31px;
      height: 27px;
    }

    &--price {
      width: 32px;
      height: 32px;
    }
  }
}

@include mobile-width {
  .advantages {
    width: 90.6%;
    padding: 8px 0 10px;
    min-width: 320px;
  }

  .advantages__item {
    min-height: auto;
    width: 100%;
    min-width: 290px;
    padding: 50px 13px 17px 23px;
    margin: 15px 22px 6px 8px;
  }

  .advantages__title {
    max-width: 233px;
    font-size: 20px;
    line-height: 28px;
  }

  .advantages__text {
    max-width: 251px;
  }

  .advantages__icon {
    top: 22px;
    left: 23px;
  }
}
