.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @include ul-reset;
}

.contacts__item {
  font-family: $pt-mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  margin: 10px 0;
}

.contacts__mail {
  position: relative;
  margin-right: 88px;
  padding-left: 39px;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 14px;
    left: 0;
    top: 0;
    background-image: url("../img/icon-mail-desktop.svg");
    background-repeat: no-repeat;
  }
}

.contacts__tel {
  position: relative;
  margin-right: 51px;
  padding-left: 34px;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 0;
    background-image: url("../img/icon-phone-desktop.svg");
    background-repeat: no-repeat;
  }
}

.contacts__mail,
.contacts__tel {
  @include hover;
}

.contacts__btn {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  min-width: 180px;
  padding: 14px 0 13px;
  margin: 10px;
  margin-right: 0;
}

@include tablet-width {
  .contacts__mail {
    margin: 0;
    padding: 0;

    &::before {
      width: 25px;
      height: 18px;
      left: -77px;
      top: -19px;
      background-image: url("../img/icon-mail-tablet.svg");
    }
  }

  .contacts__tel {
    margin: 0;
    padding: 0;

    &::before {
      width: 24px;
      height: 24px;
      left: -21px;
      top: -22px;
      background-image: url("../img/icon-phone-tablet.svg");
    }
  }

  .contacts__mail span,
  .contacts__tel span {
    display: none;
  }

  .contacts__btn {
    display: none;
  }
}

@include mobile-width {
  .contacts__mail {
    &::before {
      left: -67px;
      top: -16px;
    }
  }

  .contacts__tel {
    &::before {
      left: -19px;
      top: -19px;
    }
  }
}
