.feedback__popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 0.6s ease;
}

.feedback__popup--opened {
  display: block;
}

.feedback__content {
  position: relative;
  top: 20%;
  left: 50%;
  margin-bottom: 33px;
  transform: translateX(-50%);
  width: 490px;
  margin-top: 10px;
  padding: 31px 39px 37px;
  background-color: $lightblue;
}

.feedback__title {
  display: block;
  margin-bottom: 12px;
  font-family: $roboto-condensed;
  color: $white;
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
}

.feedback__description {
  width: 400px;
  margin: 0 0 30px;
  color: $white;
  font-size: 16px;
  line-height: 22px;
}

.feedback__form {

  input,
  textarea,
  button {
    padding: 13px 23px;
  }

  input,
  textarea {
    margin-bottom: 31px;
    width: 100%;
  }

  input {
    height: 52px;
  }

  textarea {
    height: 104px;
    padding-top: 10px;
    margin-bottom: 23px;
  }

  button {
    margin-bottom: 35px;
    padding: 15px 50px;
    color: $white;
    background-color: transparent;
    width: 100%;
  }
}

.feedback__agreement {
  label {
    padding-left: 49px;
    width: 400px;
  }

  input:checked+span::before {
    top: 1px;
    left: 4px;
    width: 5px;
    height: 7px;
  }

  label,
  input+span {
    @include hover;
  }
}

.feedback__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 19px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @include hover;
}

.feedback__close-btn::after,
.feedback__close-btn::before {
  top: 9px;
  left: -1px;
  background-color: $white;
  border-radius: 5px;
  width: 23px;
  height: 1px;
  position: absolute;
  content: "";
}

.feedback__close-btn::before {
  transform: rotate(45deg);
}

.feedback__close-btn::after {
  transform: rotate(-45deg);
}
