.form-template {
  input,
  textarea {
    font-family: $pt-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    background-color: $white-opacity;
    border: 1px solid $white-opacity;
    appearance: none;
    border-radius: 0;
    outline: 0;
    cursor: pointer;

    &::placeholder {
      color: $white;
    }
  }

  textarea {
    resize: none;
  }

  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    border: solid 1px $white;
  }

  button {
    border: 1px solid $white;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.form-template__agreement {
  label {
    position: relative;
    display: block;
    font-family: $pt-mono;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: $white;
    opacity: 0.8;
    cursor: pointer;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: solid 1px $white;
    cursor: pointer;
  }

  input:checked+span::before {
    position: absolute;
    content: "";
    border-right: solid 1px $white;
    border-bottom: solid 1px $white;
    transform: rotate(45deg);
  }

  label,
  input+span {
    @include hover;
  }
}
