.header {
  color: $white;
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.header__wrap {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1411px;
  min-width: 960px;
  width: 100%;
}

.header__logo {
  padding-top: 25px;
}

.header__img--mobile {
  display: none;
}

.header__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  justify-content: flex-end;
}

@media (max-width: $tablet-width) {
  .header {
    margin: 0 auto;
  }

  .header__wrap {
    left: 0;
    min-width: 720px;
  }

  .header__logo {
    padding: 13px 17px;
  }

  .header__contacts {
    padding-top: 10px;
  }
}

@media (max-width: $mobile-width) {
  .header__wrap {
    min-width: 288px;
    padding: 0 10px;
  }

  .header__logo {
    padding: 9px 0;
  }

  .header__img--hidden {
    display: none;
  }

  .header__img--mobile {
    display: block;
  }
}
