.information {
  background-color: $white;
  background-image: url("../../img/bg-adv.png");
  background-position: center -28px;
  background-size: 1920px 1347px;
  background-repeat: no-repeat;
  z-index: -10;
}
