.info {
  background-color: $white;
  color: $gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.info__wrap {
  margin: 48px auto 80px;
  padding-left: 192px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 317px;
    left: -15px;
    top: 35px;
    background-image: url("../img/year-desk@1x.png");
    background-repeat: no-repeat;
  }
}

@include retina {
  .info__wrap::before {
    background-image: url("../img/year-desk@2x.png");
    background-size: 220px 317px;
  }
}

.info__title {
  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $gray;
  margin-bottom: 22px;
}

.info__text {
  font-family: $pt-mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $gray;
  padding-bottom: 5px;
}

.info__ellipsis {
  display: none;
}

.info__button {
  width: 180px;
  border: 1px solid $lightblue;
  box-sizing: border-box;
  border-radius: 5px;
  color: $lightblue;
  background-color: $white;
  margin-top: 32px;
  padding: 14px;
}

@include tablet-width {
  .info {
    width: 93.75%;
    min-width: 750px;
  }

  .info__wrap {
    margin: 5px auto 83px;
    padding-left: 202px;

    &::before {
      width: 251px;
      height: 361px;
      left: -9px;
      top: 7px;
      background-image: url("../img/year-tablet@1x.png");
    }
  }

  @include retina {
    .info__wrap::before {
      background-image: url("../img/year-tablet@2x.png");
      background-size: 251px 361px;
    }
  }

  .info__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 22px;
    margin-top: 25px;
  }

  .info__text {
    padding-right: 15px;
  }

  .info__ellipsis {
    display: inline;
  }

  .info__continuation {
    display: none;
  }

  .info__button {
    margin-top: 37px;
    padding: 14px;
  }
}

@include mobile-width {
  .info {
    width: 90.6%;
    min-width: 320px;
  }

  .info__wrap {
    margin: 16px 3% 64px;
    padding-left: 7px;

    &::before {
      display: none;
    }
  }

  .info__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .info__text {
    padding: 4px 0 19px;
    margin-bottom: 0;
  }

  .info__button {
    margin-top: 9px;
    padding: 14px;
  }
}
