.menu__title {
  margin: 0 0 25px;
  font-family: $roboto-condensed;
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  color: $darkblue;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  align-items: center;
}

.menu__nav {
  display: flex;
}

.menu__column:first-child {
  margin-right: 11%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include ul-reset;
}

.menu__link {
  color: $darkblue;
  opacity: 0.5;
  font-size: 15px;
  line-height: 25px;
  font-family: $pt-mono;
  font-weight: normal;
  letter-spacing: 0.03em;

  &:hover {
    opacity: 1;
  }
}

.menu__accordion-btn {
  display: none;
}

@include tablet-width {
  .menu__nav {
    flex-direction: column;
  }

  .menu__column:first-child {
    margin-right: 0;
  }
}

@include mobile-width {
  .menu__nav {
    width: 100%;
    display: none;
  }
}
