.page-footer {
  background-color: #fafafa;
}

.page-footer__main {
  border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  padding-bottom: 57px;
}

.page-footer__main-wrapper {
  margin: 0 auto;
  width: 75.5%;
  max-width: 1412px;
  min-width: 960px;
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  margin-right: 8%;
}

.page-footer__logo-link {
  margin-bottom: 45px;
}

.page-footer__service-years {
  display: none;
}

.page-footer__menu {
  width: 40%;
}

@include tablet-width {
  .page-footer__main {
    padding-bottom: 0;
  }

  .page-footer__main-wrapper {
    flex-wrap: wrap;
    width: 100%;
    min-width: 721px;
    padding: 19px 0 33px;
  }

  .page-footer__links {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0 25px;
    padding-bottom: 19px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .page-footer__logo-link {
    margin-bottom: 0;
  }

  .page-footer__service-years {
    display: block;
    margin: 0;
    color: $darkblue;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    opacity: 0.5;
    font-size: 13px;
    line-height: 24px;
    padding-left: 30px;
  }

  .page-footer__menu {
    width: 45%;
    margin-right: 5%;
    padding-top: 38px;
    padding-left: 26px;
  }
}

@include mobile-width {
  .page-footer__main {
    border-bottom: none;
  }

  .page-footer__main-wrapper {
    flex-wrap: wrap;
    width: 100%;
    min-width: 320px;
    padding: 46px 0 0;
  }

  .page-footer__links {
    flex-direction: column;
    align-items: center;
    padding-bottom: 49px;
  }

  .page-footer__logo-link {
    margin-bottom: 20px;
  }

  .page-footer__service-years {
    margin-bottom: 31px;
    padding-left: 0;
  }

  .page-footer__menu {
    margin-right: 0;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 29px 5% 0;
  }
}
