.promo {
  color: $white;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 83px;
  padding-bottom: 274px;
  background-color: $darkblue;
  background-image: url("../../img/bg-promo-desktop@1x.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  overflow-x: hidden;
}

.promo__wrap {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1422px;


  &::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../../img/plata-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 705px;
    height: 515px;
    z-index: 2;
    top: 33%;
    right: -5%;
  }
}

@include retina {
  .promo {
    background-image: url("../../img/bg-promo-desktop@2x.png");
  }

  .promo__wrap::before {
    background-image: url("../../img/plata-desktop@2x.png");
  }
}

.promo__title {
  width: 720px;
  margin: 0;
  padding-top: 223px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
  z-index: 3;
}

.promo__text {
  width: 720px;
  font-family: $pt-mono;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  margin-top: 28px;
  padding-left: 97px;
  position: relative;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    height: 3px;
    left: 4px;
    top: 16px;
    background-color: $white;
  }
}

.promo__button {
  width: 407px;
  background-color: $lightblue;
  color: $white;
  border-radius: 5px;

  font-size: 16px;
  line-height: 19px;
  padding: 18px 0;
  margin-top: 22px;
  margin-left: 98px;
  border: 1px solid $lightblue;

  &--mobile {
    display: none;
  }
}

.promo__link {
  position: absolute;
  width: 93px;
  font-family: $pt-mono;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;
  transform: rotate(-90deg);
  left: -35px;
  top: 643px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

@include tablet-width {
  .promo {
    padding-bottom: 164px;
    background-image: url("../../img/bg-promo-tablet@1x.png");
  }

  .promo__wrap {
    max-width: 720px;
    padding-bottom: 0;

    &::before {
      background-image: url("../../img/plata-tablet@1x.png");
      width: 465px;
      height: 340px;
      top: 5%;
      right: -32%;
    }
  }

  @include retina {
    .promo {
      background-image: url("../../img/bg-promo-tablet@2x.png");
    }

    .promo__wrap::before {
      background-image: url("../../img/plata-tablet@2x.png");
    }
  }

  .promo__title {
    width: 400px;
    margin: 0;
    padding-top: 97px;
    padding-left: 64px;
    font-size: 60px;
    line-height: 70px;
  }

  .promo__text {
    width: 362px;
    font-size: 18px;
    line-height: 28px;
    margin-top: 29px;
    margin-left: 100px;
    padding-left: 15px;

    &::before {
      width: 33px;
      height: 2px;
      left: -33px;
    }
  }

  .promo__button {
    width: 379px;
    margin-top: 37px;
    margin-left: 115px;
  }

  .promo__link {
    display: none;
  }
}


@include mobile-width {
  .promo {
    padding-bottom: 68px;
    background-image: url("../../img/bg-promo-mobile@1x.png");
  }

  .promo__wrap {
    min-width: 320px;
    padding: 0 8px;

    &::before {
      background-image: url("../../img/plata-mobile@1x.png");
      width: 301px;
      height: 220px;
      top: 0;
      right: 0;
    }
  }

  @include retina {
    .promo {
      background-image: url("../../img/bg-promo-mobile@2x.png");
    }

    .promo__wrap::before {
      background-image: url("../../img/plata-mobile@2x.png");
    }
  }

  .promo__title {
    width: 277px;
    padding-top: 195px;
    padding-left: 0;
    font-size: 40px;
    line-height: 47px;
  }

  .promo__text {
    width: 245px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 28px;
    margin-left: 34px;

    &::before {
      top: 13px;
    }
  }

  .promo__button {
    width: 290px;
    margin-top: 24px;
    margin-left: 0;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
