.service {
  background-color: $darkblue;
  color: $white;
}

.service__wrap {
  width: 64%;
  max-width: 1200px;
  min-width: 960px;
  margin: 30px auto 0;
  padding-bottom: 99px;
  padding-top: 28px;
  position: relative;
}

.service__title {
  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 50px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include ul-reset;

  margin: 0 15px;
}

.service__item {
  position: relative;
  width: calc(33.3% - 20px);
  min-width: 288px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.service__item:nth-of-type(3n) {
  margin-right: 0;
}

.service__link {
  display: block;
  height: 100%;
  min-height: 620px;
  padding: 31px 44px;
  background-color: $darkblue;

  &::before {
    position: absolute;
    content: "";
    border: solid $white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    right: 27px;
    bottom: 27px;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    right: 0;
    bottom: 0;
    background-color: $lightblue;
    z-index: 1;
  }
}

.service__link img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.service__text {
  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  width: 160px;
}

.service__link:hover {
  outline: 1px solid $lightblue;
  cursor: pointer;
}

@include tablet-width {
  .service__wrap {
    width: 93.75%;
    min-width: 770px;
    padding-top: 0;
    padding-bottom: 32px;
  }

  .service__title {
    width: 640px;
    font-size: 32px;
    margin-bottom: 45px;
    margin-top: 43px;
  }

  .service__list {
    flex-direction: column;
    width: 96%;
  }

  .service__item {
    margin-bottom: 45px;
    margin-right: 0;
    width: 97%;
    min-height: 256px;
  }

  .service__link {
    padding: 39px 44px 44px;
    min-height: 256px;
  }

  .service__text {
    width: 170px;
  }
}

@include mobile-width {
  .service {
    padding-top: 1px;
  }

  .service__wrap {
    width: 90.6%;
    min-width: 320px;
    padding-bottom: 35px;
  }

  .service__title {
    width: 293px;
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 40px;
    margin-top: 49px;
  }

  .service__list {
    width: 98%;
  }

  .service__item {
    width: 93%;
    margin-bottom: 30px;
    margin-right: 0;
    min-height: 256px;
    min-width: 290px;
  }

  .service__link {
    padding: 22px 35px;
  }

  .service__text {
    width: 170px;
    margin: 0;
  }
}
