.service {
  background-color: $darkblue;
  color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.service__wrap {
  max-width: 1200px;
  margin: 30px auto 112px;
  padding-top: 28px;
  position: relative;
}

.service__title {
  @extend %roboto-condensed-normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 37px;
}

.service__list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 1200px;
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 15px;
  width: 370px;
  min-height: 620px;
  position: relative;
}

.service__link {
  text-decoration: none;
  width: 370px;
  min-height: 620px;
  padding: 30px 10px 20px 44px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    border: solid $white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    left: 335px;
    bottom: 28px;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    left: 307px;
    bottom: 0;
    background-color: $lightblue;
    z-index: 1;
  }
}

.service__text {
  @extend %roboto-condensed-normal;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  width: 160px;
}

.service__link--bg-1 {
  background-image: url("../../img/bg-services-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.service__link--bg-2 {
  background-image: url("../../img/bg-services-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.service__link--bg-3 {
  background-image: url("../../img/bg-services-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.service__link:hover {
  outline: 1px solid $lightblue;
  cursor: pointer;
}

@media (max-width: $tablet-width) {

  .service__wrap {
    max-width: 770px;
    margin: 13px auto 46px;
    padding-top: 10px;
  }

  .service__title {
    width: 640px;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 35px;
  }

  .service__list {
    max-width: 770px;
  }

  .service__item {
    margin: 15px;
    margin-bottom: 31px;
    width: 720px;
    min-height: 256px;
  }

  .service__link {
    width: 720px;
    min-height: 256px;
    padding: 19px 10px 20px 47px;

    &::before {
      left: 689px;
      bottom: 30px;
      padding: 2px;
    }

    &::after {
      left: 660px;
    }
  }

  .service__link--bg-1 {
    background-image: url("../../img/bg-services-tab-1.png");
  }

  .service__link--bg-2 {
    background-image: url("../../img/bg-services-tab-2.png");
  }

  .service__link--bg-3 {
    background-image: url("../../img/bg-services-tab-3.png");
  }

  .service__text {
    width: 170px;
  }
}
