.social {
  display: flex;
  flex-wrap: wrap;
  width: 199px;

  @include ul-reset;
}

.social__item {
  margin-right: 15px;
}

.social__link {
  display: block;

  @include hover;
}


@include tablet-width {
  .social {
    width: auto;
  }

  .social__item {
    margin-right: 0;
    margin-left: 15px;
  }
}

@include mobile-width {
  .social__item {
    margin: 0 7px;
  }
}
