.social {
  display: flex;
  flex-wrap: wrap;
  width: 199px;

  @include ul-reset;
}

.social__item {
  margin-right: 16px;
}

.social__link {
  display: block;

  @include hover;
}


@include tablet-width {
  .social {
    width: auto;
  }
}

@include mobile-width {
  .social {
    margin-left: 30px;
  }
}
