@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "PT Mono";
  src: url("../fonts/PTMonoRegular.woff2") format("woff2"), url("../fonts/PTMonoRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedRegular.woff2") format("woff2"), url("../fonts/RobotoCondensedRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedBold.woff2") format("woff2"), url("../fonts/RobotoCondensedBold.woff") format("woff");
  font-display: swap;
}
