$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;


$darkblue: #1b2d37;
$lightblue: #00b2ff;
$white: #ffffff;
$lightgray: #e5e5e5;
$gray: #666666;
$color-border: #ebebeb;


%pt-mono-normal {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
}

%roboto-medium {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}

%roboto-condensed-normal {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
}

%roboto-condensed-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
}
